@model Doktor

<form method="post" asp-controller="Doktor" asp-action="DoktorSilmePost">
	<div class="border p-3 mt-4">
		<div class="row pb-2">
			<h2 class="text-primary">Doktor Silme</h2>
			<hr />
		</div>
		<input asp-for="DoktorId" type="hidden" />
		<div class="mb-3">
			<label asp-for="Tc"></label>
			<input asp-for="Tc" type="text" class="form-control" disabled />

		</div>
		<div class="mb-3">
			<label asp-for="Doktor_Adi"></label>
			<input asp-for="Doktor_Adi" type="text" class="form-control" disabled />

		</div>
		<div class="mb-3">
			<label asp-for="Doktor_Soyad"></label>
			<input asp-for="Doktor_Soyad" type="text" class="form-control" disabled />

		</div>
		<div class="mb-3">
			<label asp-for="TelefonNumarasi"></label>
			<input asp-for="TelefonNumarasi" type="text" class="form-control" disabled />

		</div>
		<div class="mb-3">
			<label asp-for="Email" class="form-label"></label>
			<input asp-for="Email" type="email" class="form-control" disabled />

		</div>
		<div class="mb-3">
			<label class="form-label">Bölüm</label>
			<select asp-for="poliklinikBolum_Id" class="form-select" id="mySelect" disabled>
				<option value="@Model.poliklinikBolum_Id">@Model.poliklinikBolum_Id</option>
			</select>
		</div>
		<div class="col-6">
			<div class="mb-2">
				<label asp-for="CalismaSaatleri[0].Gun"></label>
				<input asp-for="CalismaSaatleri[0].Gun" type="text" class="form-control" disabled />
			</div>
			<div class="mb-2">
				<label asp-for="CalismaSaatleri[0].BaslangicSaati"></label>
				<input asp-for="CalismaSaatleri[0].BaslangicSaati" type="text" class="form-control" disabled />
			</div>
			<div class="mb-2">
				<label asp-for="CalismaSaatleri[0].BitisSaati"></label>
				<input asp-for="CalismaSaatleri[0].BitisSaati" type="text" class="form-control" disabled />
			</div>
		</div>
		<button type="submit" class="btn btn-primary" style="width:150px">Sil</button>
	</div>
</form>
@section Scripts{
	@{
		<partial name="_validationScriptsPartial" />
	}
}