html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
#timer {
    color: #3498db; /* Change the color of the numbers */
    
}
#timer1 {
    color: red; /* Change the color of the numbers */
    
}