@model Kullanci

	<form method="control">
        <label asp-for="Email" class="form-label mt-4"></label>
    <input asp-for=Email type="email" class="form-control" placeholder="email@example.com">
        <label asp-for="Sifre" class="form-label mt-2"></label>
        <input asp-for=Sifre type="password" class="form-control">
        <input asp-controller="Hastane" asp-action="main" class="btn btn-success mt-1" type="submit" />
        <input asp-controller="Kullanci" asp-action="Create" class="btn btn-secondary mt-1" type="submit" value="Sign in"/>
	</form>

