@model string
<div class="alert alert-dismissible  bg-light">
	<h4 class="alert-heading">Warning!</h4>
	<div class="mb-0">@Model<a asp-controller="Kullanci" asp-action="Kullancilar" class="text-decoration-none btn btn-dark">Hasta Listesi</a></div>
</div>