@{
	if (User.IsInRole("user"))
	{
		Layout = "_user";
	}
}
@model RandevuModelleri


<form method="post" asp-controller="Randevu" asp-action="DoktorFiltere">
	<div class="border p-3 mt-4">
		<div class="row pb-2">
			<h2 class="text-primary"> 
				<a asp-controller="Home" asp-action="Index" class="text-decoration-none">
					<i class="bi bi-arrow-left"></i>
				</a>
				Randevu Al
			</h2>
		</div>
		<div class="mb-3">
			<label asp-for="Kullanci.Tc"></label>
			@if (User.IsInRole("admin"))
			{
				<input asp-for="Kullanci.Tc" type="text" class="form-control" />
			}
			else
			{
				<input asp-for="@Model.Kullanci.Tc" type="text" class="form-control" type="hidden" />
				<input asp-for="@Model.Kullanci.Tc" type="text" class="form-control" disabled />
			}
		</div>
		<div class="mb-3">
			<label class="form-label">Bölüm</label>
			<select asp-for="Poliklinik.Bolum_Id" class="form-select" id="mySelect">
				<option></option>
				@foreach (var item in Model.poliklinikler)
				{
					<option value="@item.Bolum_Id">@item.Bolum_Adi</option>
				}
			</select>
		</div> 
		<div class="mb-3">
			<label class="form-label">Hakim</label>
			<select asp-for="Doktor.DoktorId" class="form-select hakimListesi" disabled>
				
			</select>
		</div>
		<div class="mb-3">
			<label class="form-label">Başlangış Tarihi</label>
			<input asp-for="BaslangicTarihi" type="date" class="form-control" id="baslangicDateInput" value="yyyy-mm-dd" />
		</div>

		<div class="mb-3">
			<label class="form-label">Bitiş Tarihi</label>
			<input asp-for="BitisTarihi" type="date" class="form-control" id="bitisDateInput" value="yyyy-mm-dd" />
		</div>

		<button type="submit" class="btn btn-primary" style="width:150px">Oluştur</button>
	</div>
</form>



	<script>
		const container = document.querySelector(".hakimListesi");

		document.getElementById("mySelect").addEventListener("change", function () {
			let selectedValue = this.value;
			console.log(selectedValue);
			$.ajax({
				type: "GET",
				url: "/Randevu/jsonData",
				data: { BolumId: selectedValue },
				success: function (detailes) {
					DisplayDetailes(detailes);
					console.log(detailes)
				},
				error: function (error) {
					alert("Error");
				}
			});
		});
		function DisplayDetailes(data)
		{
			let html = `<option value="0" class="nav-link">-Fark Etmez-</option>`;
			data.forEach(item => {
				html += `<option value="${item.doktorId}">${item.doktor_Adi} ${item.doktor_Soyad}</option>`;
			});
			container.innerHTML = "";
			container.insertAdjacentHTML("afterbegin",html);
			container.disabled = false;
		}

		
		// Create a new Date object to represent the current date
		var currentDate = new Date();

		// Get the current date as a string in "YYYY-MM-DD" format
		var currentDateString = currentDate.toISOString().split('T')[0];

		// Set the minimum attribute for the BaslangicTarihi input
		document.getElementById('baslangicDateInput').min = currentDateString;

		// Set the minimum attribute for the BitisTarihi input
		document.getElementById('bitisDateInput').min = currentDateString;



	</script>
@section Scripts{
	@{
		<partial name="_validationScriptsPartial" />
	}
}
@* fetch("/Randevu/jsonData?BolumId=" + selectedValue)
	.then(response => response.json())
	.then(data => {
		DisplayDetails(data);
		console.log(data);
	})
	.catch(error => {
		console.error("Error:", error);
	}); *@

