@model Kullanci

<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr class="bg-body-secondary">
            <th>
                Id
            </th>
            <th>
                Adi
            </th>
            <th>
                Soyad
            </th>
            <th>
                Telefon Numarasi
            </th>
            <th>
                Cinsel
            </th>
            <th>
                Email
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>

        </tr>
    </tbody>
</table>

