@model Kullanci
<form method="post">
	<div class="border p-3 mt-4">
		<div class="row pb-2">
			<h2 class="text-primary">Hasta Silme</h2>
			<hr />
		</div>
		<div class="mb-3">
			<label asp-for="Tc"></label>
			<input asp-for="Tc" type="text" disabled class="form-control" />
		</div>
		<div class="mb-3">
			<label asp-for="Kullanci_Adi"></label>
			<input asp-for="Kullanci_Adi" type="text" disabled class="form-control" />
		</div>
		<div class="mb-3">
			<label asp-for="Kullanci_Soyad"></label>
			<input asp-for="Kullanci_Soyad" type="text" disabled class="form-control" />
		</div>
		<div class="mb-3">
			<label asp-for="TelefonNumarasi"></label>
			<input asp-for="TelefonNumarasi" type="number" disabled class="form-control" />
		</div>
		<div class="mb-3">
			<label asp-for="Cinsel" class="form-label"></label>
			<select asp-for="Cinsel" class="form-select" disabled>
				<option>Erkek</option>
				<option>Kız</option>
			</select>
		</div>
		<div class="mb-3">
			<label asp-for="Email"></label>
			<input asp-for="Email" type="email" class="form-control" disabled placeholder="email@example.com" />
		</div>
		<button asp-controller="Kullanci" asp-action="HastaSil" type="submit" class="btn btn-danger" style="width:150px">Sil</button>
	</div>
</form>