@model Kullanci
<form method="post">
	<div class="border p-3 mt-4">
		<div class="row pb-2">
			<h2 class="text-primary">Kullanci Oluşturma</h2>
			<hr />
		</div>
		<div class="mb-3">
			<label asp-for="Kullanci_Adi"></label>
			<input asp-for="Kullanci_Adi" type="text" class="form-control" />
			<span asp-validation-for="Kullanci_Adi" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="Kullanci_Soyad"></label>
			<input asp-for="Kullanci_Soyad" type="text" class="form-control" />
			<span asp-validation-for="Kullanci_Soyad" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="TelefonNumarasi"></label>
			<input asp-for="TelefonNumarasi" type="number" class="form-control" />
			<span asp-validation-for="TelefonNumarasi" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="Cinsel" class="form-label"></label>
			<select asp-for="Cinsel" class="form-select">
				<option>Erkek</option>
				<option>Kız</option>
			</select>
		</div>
		<div class="mb-3">
			<label asp-for="Email"></label>
			<input asp-for="Email" type="email" class="form-control" placeholder="email@example.com"/>
			<span asp-validation-for="Email" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="Sifre"></label>
			<input asp-for="Sifre" type="password" class="form-control" />
			<span asp-validation-for="Sifre" class="text-danger"></span>
		</div>
		<button asp-controller="Kullanci" asp-action="KullanciEkleme" type="submit" class="btn btn-primary" style="width:150px">Oluştur</button>
	</div>
</form>
@section Scripts{
	@{
		<partial name="_validationScriptsPartial" />
	}
}